body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    color: #333;
}

.navbar {
    background-color: #4A90E2;
}

.navbar-brand, .nav-link {
    color: #fff !important;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #d0e7f9 !important;
}

/* Estilo do Filtro e Botão Enviar Imagem */
.filter-section, .upload-button {
    text-align: center;
    margin-top: 20px;
}

.upload-button a {
    background-color: #4A90E2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.upload-button a:hover {
    background-color: #357ABD;
}

/* Estilo do Carrossel */

#carrosselImagens img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

/* Estilo dos Cards de Imagem */
.gallery-card {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.gallery-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.category-description {
    color: #4A90E2;
    font-size: 0.85em;
    font-style: italic;
    margin-top: 10px;
}

.category-tags {
    color: #4A90E2;
    
    font-size: 0.85em;
    margin-top: 5px;
    display: inline-block;


    background-color: #e0f0ff;
    padding: 3px 8px;
    border-radius: 15px;
    margin: 2px;
    display: inline-block;
}

.category-tags a {
    font-weight: bold;
    }
.category-tags p {
    font-style: italic;
    }
    /* Estilo dos Cards de Depoimentos */
.testimonial-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

/* Rodapé */
.footer {
    background-color: #e6f2ff;
    color: #333;
    padding: 15px 0;
    text-align: center;
}

.footer-link {
    color: #4A90E2;
    text-decoration: none;
}

.footer-link:hover {
    color: #357ABD;
    text-decoration: underline;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}
.gallery-card img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
